@{
    ViewData["Title"] = "Página inicial";
}

    <div class="text-center">
        <img src="~/images/Logo.png" class="align-content-center" height="300" width="900" asp-append-version="true" />
        <p><br />Esta aplicação tem como finalidade o cadastro de estações para recarga de veículos e outros dispositivos elétricos.</p>
    </div>
